button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  padding: 20px;
  font-size: 30px;
}

body {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

h1 {
  margin-bottom: 50px;
}

#width, #height {
  color: red;
}

/* 전체 container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* sections */
.camera-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 미리보기 사진 */
.prev-img-section {
  display: none;
}

.prev-img-section.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas {
  border: 1px dashed gray;
}

/* 사진 제출 */
#submitBtn {
  background-color: #0e36e6;
  color: #fff;
  margin-top: 30px;
}

/* 사진찍기 버튼 */
.btn-container {
  width: 100%;
  padding: 30px;
  text-align: center;
}

/* outline */
#rotateBtn {
  border: 1px solid lightgray;
  background-color: transparent;
  color: #fff;
  margin-bottom: 10px;
}
#outline {
  display: none;
  border: 2px dashed red;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
}
